<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @zip.id %>
</p>

<p>
  <strong>City:</strong>
  <%= @zip.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @zip.state %>
</p>

<p>
  <strong>Population:</strong>
  <%= @zip.population %>
</p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @locations.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>

<%= link_to 'Edit', edit_zip_path(@zip) %> |
<%= link_to 'Back', zips_path %>
